<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>vowels</key>
	<dict>
		<key>ㅏ</key>
		<string>a</string>
		<key>ㅓ</key>
		<string>eo</string>
		<key>ㅗ</key>
		<string>o</string>
		<key>ㅜ</key>
		<string>u</string>
		<key>ㅡ</key>
		<string>eu</string>
		<key>ㅣ</key>
		<string>i</string>
		<key>ㅑ</key>
		<string>ya</string>
		<key>ㅕ</key>
		<string>yeo</string>
		<key>ㅛ</key>
		<string>yo</string>
		<key>ㅠ</key>
		<string>yu</string>
		<key>ㅐ</key>
		<string>ae</string>
		<key>ㅒ</key>
		<string>yae</string>
		<key>ㅔ</key>
		<string>e</string>
		<key>ㅖ</key>
		<string>ye</string>
		<key>ㅢ</key>
		<string>ui</string>
		<key>ㅘ</key>
		<string>wa</string>
		<key>ㅙ</key>
		<string>wae</string>
		<key>ㅚ</key>
		<string>oe</string>
		<key>ㅝ</key>
		<string>wo</string>
		<key>ㅞ</key>
		<string>we</string>
		<key>ㅟ</key>
		<string>wi</string>
	</dict>
	<key>consonant</key>
	<dict>
		<key>ㄱ</key>
		<string>g</string>
		<key>ㄴ</key>
		<string>n</string>
		<key>ㄷ</key>
		<string>d</string>
		<key>ㄹ</key>
		<string>l/r</string>
		<key>ㅁ</key>
		<string>m</string>
		<key>ㅂ</key>
		<string>b</string>
		<key>ㅅ</key>
		<string>s</string>
		<key>ㅇ</key>
		<string>null/ng</string>
		<key>ㅈ</key>
		<string>j</string>
		<key>ㅊ</key>
		<string>ch</string>
		<key>ㅋ</key>
		<string>k</string>
		<key>ㅌ</key>
		<string>t</string>
		<key>ㅍ</key>
		<string>p</string>
		<key>ㅎ</key>
		<string>h</string>
		<key>ㄲ</key>
		<string>kk</string>
		<key>ㄸ</key>
		<string>tt</string>
		<key>ㅃ</key>
		<string>pp</string>
		<key>ㅆ</key>
		<string>ss</string>
		<key>ㅉ</key>
		<string>jj</string>
	</dict>
</dict>
</plist>
