<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basic</key>
	<dict>
		<key>ん</key>
		<string>n</string>
		<key>あ</key>
		<string>a</string>
		<key>い</key>
		<string>i</string>
		<key>う</key>
		<string>u</string>
		<key>え</key>
		<string>e</string>
		<key>お</key>
		<string>o</string>
		<key>か</key>
		<string>ka</string>
		<key>き</key>
		<string>ki</string>
		<key>く</key>
		<string>ku</string>
		<key>け</key>
		<string>ke</string>
		<key>こ</key>
		<string>ko</string>
		<key>さ</key>
		<string>sa</string>
		<key>し</key>
		<string>shi</string>
		<key>す</key>
		<string>su</string>
		<key>せ</key>
		<string>se</string>
		<key>そ</key>
		<string>so</string>
		<key>た</key>
		<string>ta</string>
		<key>ち</key>
		<string>chi</string>
		<key>つ</key>
		<string>tsu</string>
		<key>て</key>
		<string>te</string>
		<key>と</key>
		<string>to</string>
		<key>な</key>
		<string>na</string>
		<key>に</key>
		<string>ni</string>
		<key>ぬ</key>
		<string>nu</string>
		<key>ね</key>
		<string>ne</string>
		<key>の</key>
		<string>no</string>
		<key>は</key>
		<string>ha</string>
		<key>ひ</key>
		<string>hi</string>
		<key>ふ</key>
		<string>fu</string>
		<key>へ</key>
		<string>he</string>
		<key>ほ</key>
		<string>ho</string>
		<key>ま</key>
		<string>ma</string>
		<key>み</key>
		<string>mi</string>
		<key>む</key>
		<string>mu</string>
		<key>め</key>
		<string>me</string>
		<key>も</key>
		<string>mo</string>
		<key>や</key>
		<string>ya</string>
		<key>ゆ</key>
		<string>yu</string>
		<key>よ</key>
		<string>yo</string>
		<key>ら</key>
		<string>ra</string>
		<key>り</key>
		<string>ri</string>
		<key>る</key>
		<string>ru</string>
		<key>れ</key>
		<string>re</string>
		<key>ろ</key>
		<string>ro</string>
		<key>わ</key>
		<string>wa</string>
		<key>を</key>
		<string>wo</string>
	</dict>
	<key>marked</key>
	<dict>
		<key>が</key>
		<string>ga</string>
		<key>ぎ</key>
		<string>gi</string>
		<key>ぐ</key>
		<string>gu</string>
		<key>げ</key>
		<string>ge</string>
		<key>ご</key>
		<string>go</string>
		<key>ざ</key>
		<string>za</string>
		<key>じ</key>
		<string>ji</string>
		<key>ず</key>
		<string>zu</string>
		<key>ぜ</key>
		<string>ze</string>
		<key>ぞ</key>
		<string>zo</string>
		<key>づ</key>
		<string>dzu</string>
		<key>だ</key>
		<string>da</string>
		<key>で</key>
		<string>de</string>
		<key>ど</key>
		<string>do</string>
		<key>ば</key>
		<string>ba</string>
		<key>び</key>
		<string>bi</string>
		<key>ぶ</key>
		<string>bu</string>
		<key>べ</key>
		<string>be</string>
		<key>ぼ</key>
		<string>bo</string>
		<key>ぱ</key>
		<string>pa</string>
		<key>ぴ</key>
		<string>pi</string>
		<key>ぷ</key>
		<string>pu</string>
		<key>ぺ</key>
		<string>pe</string>
		<key>ぽ</key>
		<string>po</string>
	</dict>
	<key>double</key>
	<dict>
		<key>きゃ</key>
		<string>kya</string>
		<key>きゅ</key>
		<string>kyu</string>
		<key>きょ</key>
		<string>kyo</string>
		<key>しゃ</key>
		<string>sha</string>
		<key>しゅ</key>
		<string>shu</string>
		<key>しょ</key>
		<string>sho</string>
		<key>ちゃ</key>
		<string>cha</string>
		<key>ちゅ</key>
		<string>chu</string>
		<key>ちょ</key>
		<string>cho</string>
		<key>にゃ</key>
		<string>nya</string>
		<key>にゅ</key>
		<string>nyu</string>
		<key>にょ</key>
		<string>nyo</string>
		<key>ひゃ</key>
		<string>hya</string>
		<key>ひゅ</key>
		<string>hyu</string>
		<key>ひょ</key>
		<string>hyo</string>
		<key>みゃ</key>
		<string>mya</string>
		<key>みゅ</key>
		<string>myu</string>
		<key>みょ</key>
		<string>myo</string>
		<key>りゃ</key>
		<string>rya</string>
		<key>りゅ</key>
		<string>ryu</string>
		<key>りょ</key>
		<string>ryo</string>
	</dict>
	<key>marked+double</key>
	<dict>
		<key>ぎゃ</key>
		<string>gya</string>
		<key>ぎゅ</key>
		<string>gyu</string>
		<key>ぎょ</key>
		<string>gyo</string>
		<key>じゃ</key>
		<string>ja</string>
		<key>じゅ</key>
		<string>ju</string>
		<key>じょ</key>
		<string>jo</string>
		<key>びゃ</key>
		<string>bya</string>
		<key>びゅ</key>
		<string>byu</string>
		<key>びょ</key>
		<string>byo</string>
		<key>ぴゃ</key>
		<string>pya</string>
		<key>ぴゅ</key>
		<string>pyu</string>
		<key>ぴょ</key>
		<string>pyo</string>
	</dict>
</dict>
</plist>
