<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>all</key>
	<dict>
		<key>a</key>
		<string>あ</string>
		<key>i</key>
		<string>い</string>
		<key>u</key>
		<string>う</string>
		<key>e</key>
		<string>え</string>
		<key>o</key>
		<string>お</string>
		<key>ka</key>
		<string>か</string>
		<key>ki</key>
		<string>き</string>
		<key>ku</key>
		<string>く</string>
		<key>ke</key>
		<string>け</string>
		<key>ko</key>
		<string>こ</string>
		<key>kya</key>
		<string>きゃ</string>
		<key>kyu</key>
		<string>きゅ</string>
		<key>kyo</key>
		<string>きょ</string>
		<key>sa</key>
		<string>さ</string>
		<key>shi</key>
		<string>し</string>
		<key>su</key>
		<string>す</string>
		<key>se</key>
		<string>せ</string>
		<key>so</key>
		<string>そ</string>
		<key>sha</key>
		<string>しゃ</string>
		<key>shu</key>
		<string>しゅ</string>
		<key>sho</key>
		<string>しょ</string>
		<key>ta</key>
		<string>た</string>
		<key>chi</key>
		<string>ち</string>
		<key>tsu</key>
		<string>つ</string>
		<key>te</key>
		<string>て</string>
		<key>to</key>
		<string>と</string>
		<key>cha</key>
		<string>ちゃ</string>
		<key>chu</key>
		<string>ちゅ</string>
		<key>cho</key>
		<string>ちょ</string>
		<key>na</key>
		<string>な</string>
		<key>ni</key>
		<string>に</string>
		<key>nu</key>
		<string>ぬ</string>
		<key>ne</key>
		<string>ね</string>
		<key>no</key>
		<string>の</string>
		<key>nya</key>
		<string>にゃ</string>
		<key>nyu</key>
		<string>にゅ</string>
		<key>nyo</key>
		<string>にょ</string>
		<key>ha</key>
		<string>は</string>
		<key>hi</key>
		<string>ひ</string>
		<key>fu</key>
		<string>ふ</string>
		<key>he</key>
		<string>へ</string>
		<key>ho</key>
		<string>ほ</string>
		<key>hya</key>
		<string>ひゃ</string>
		<key>hyu</key>
		<string>ひゅ</string>
		<key>hyo</key>
		<string>ひょ</string>
		<key>ma</key>
		<string>ま</string>
		<key>mi</key>
		<string>み</string>
		<key>mu</key>
		<string>む</string>
		<key>me</key>
		<string>め</string>
		<key>mo</key>
		<string>も</string>
		<key>mya</key>
		<string>みゃ</string>
		<key>myu</key>
		<string>みゅ</string>
		<key>myo</key>
		<string>みょ</string>
		<key>ya</key>
		<string>や</string>
		<key>yu</key>
		<string>ゆ</string>
		<key>yo</key>
		<string>よ</string>
		<key>ra</key>
		<string>ら</string>
		<key>ri</key>
		<string>り</string>
		<key>ru</key>
		<string>る</string>
		<key>re</key>
		<string>れ</string>
		<key>ro</key>
		<string>ろ</string>
		<key>rya</key>
		<string>りゃ</string>
		<key>ryu</key>
		<string>りゅ</string>
		<key>ryo</key>
		<string>りょ</string>
		<key>wa</key>
		<string>わ</string>
		<key>wo</key>
		<string>を</string>
		<key>ga</key>
		<string>が</string>
		<key>gi</key>
		<string>ぎ</string>
		<key>gu</key>
		<string>ぐ</string>
		<key>ge</key>
		<string>げ</string>
		<key>go</key>
		<string>ご</string>
		<key>gya</key>
		<string>ぎゃ</string>
		<key>gyu</key>
		<string>ぎゅ</string>
		<key>gyo</key>
		<string>ぎょ</string>
		<key>za</key>
		<string>ざ</string>
		<key>ji</key>
		<string>ぢ</string>
		<key>zu</key>
		<string>づ</string>
		<key>ze</key>
		<string>ぜ</string>
		<key>zo</key>
		<string>ぞ</string>
		<key>ja</key>
		<string>ぢゃ</string>
		<key>ju</key>
		<string>ぢゅ</string>
		<key>jo</key>
		<string>ぢょ</string>
		<key>da</key>
		<string>だ</string>
		<key>de</key>
		<string>で</string>
		<key>do</key>
		<string>ど</string>
		<key>ba</key>
		<string>ば</string>
		<key>bi</key>
		<string>び</string>
		<key>bu</key>
		<string>ぶ</string>
		<key>be</key>
		<string>べ</string>
		<key>bo</key>
		<string>ぼ</string>
		<key>bya</key>
		<string>びゃ</string>
		<key>byu</key>
		<string>びゅ</string>
		<key>byo</key>
		<string>びょ</string>
		<key>pa</key>
		<string>ぱ</string>
		<key>pi</key>
		<string>ぴ</string>
		<key>pu</key>
		<string>ぷ</string>
		<key>pe</key>
		<string>ぺ</string>
		<key>po</key>
		<string>ぽ</string>
		<key>pya</key>
		<string>ぴゃ</string>
		<key>pyu</key>
		<string>ぴゅ</string>
		<key>pyo</key>
		<string>ぴょ</string>
	</dict>
</dict>
</plist>
