<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basic</key>
	<dict>
		<key>ア</key>
		<string>a</string>
		<key>イ</key>
		<string>i</string>
		<key>ウ</key>
		<string>u</string>
		<key>エ</key>
		<string>e</string>
		<key>オ</key>
		<string>o</string>
		<key>カ</key>
		<string>ka</string>
		<key>キ</key>
		<string>ki</string>
		<key>ク</key>
		<string>ku</string>
		<key>ケ</key>
		<string>ke</string>
		<key>コ</key>
		<string>ko</string>
		<key>サ</key>
		<string>sa</string>
		<key>シ</key>
		<string>shi</string>
		<key>ス</key>
		<string>su</string>
		<key>セ</key>
		<string>se</string>
		<key>ソ</key>
		<string>so</string>
		<key>タ</key>
		<string>ta</string>
		<key>チ</key>
		<string>chi</string>
		<key>ツ</key>
		<string>tsu</string>
		<key>テ</key>
		<string>te</string>
		<key>ト</key>
		<string>to</string>
		<key>ナ</key>
		<string>na</string>
		<key>ニ</key>
		<string>ni</string>
		<key>ヌ</key>
		<string>nu</string>
		<key>ネ</key>
		<string>ne</string>
		<key>ノ</key>
		<string>no</string>
		<key>ハ</key>
		<string>ha</string>
		<key>ヒ</key>
		<string>hi</string>
		<key>フ</key>
		<string>fu</string>
		<key>ヘ</key>
		<string>he</string>
		<key>ホ</key>
		<string>ho</string>
		<key>マ</key>
		<string>ma</string>
		<key>ミ</key>
		<string>mi</string>
		<key>ム</key>
		<string>mu</string>
		<key>メ</key>
		<string>me</string>
		<key>モ</key>
		<string>mo</string>
		<key>ヤ</key>
		<string>ya</string>
		<key>ユ</key>
		<string>yu</string>
		<key>ヨ</key>
		<string>yo</string>
		<key>ラ</key>
		<string>ra</string>
		<key>リ</key>
		<string>ri</string>
		<key>ル</key>
		<string>ru</string>
		<key>レ</key>
		<string>re</string>
		<key>ロ</key>
		<string>ro</string>
		<key>ワ</key>
		<string>wa</string>
		<key>ヲ</key>
		<string>wo</string>
		<key>ン</key>
		<string>n</string>
	</dict>
	<key>marked</key>
	<dict>
		<key>ガ</key>
		<string>ga</string>
		<key>ギ</key>
		<string>gi</string>
		<key>グ</key>
		<string>gu</string>
		<key>ゲ</key>
		<string>ge</string>
		<key>ゴ</key>
		<string>go</string>
		<key>ザ</key>
		<string>za</string>
		<key>ジ</key>
		<string>ji</string>
		<key>ヅ</key>
		<string>dzu</string>
		<key>ズ</key>
		<string>zu</string>
		<key>ゼ</key>
		<string>ze</string>
		<key>ゾ</key>
		<string>zo</string>
		<key>ダ</key>
		<string>da</string>
		<key>デ</key>
		<string>de</string>
		<key>ド</key>
		<string>do</string>
		<key>バ</key>
		<string>ba</string>
		<key>ビ</key>
		<string>bi</string>
		<key>ブ</key>
		<string>bu</string>
		<key>ベ</key>
		<string>be</string>
		<key>ボ</key>
		<string>bo</string>
		<key>パ</key>
		<string>pa</string>
		<key>ピ</key>
		<string>pi</string>
		<key>プ</key>
		<string>pu</string>
		<key>ペ</key>
		<string>pe</string>
		<key>ポ</key>
		<string>po</string>
	</dict>
	<key>double</key>
	<dict>
		<key>キャ</key>
		<string>kya</string>
		<key>キュ</key>
		<string>kyu</string>
		<key>キョ</key>
		<string>kyo</string>
		<key>シャ</key>
		<string>sha</string>
		<key>シュ</key>
		<string>shu</string>
		<key>ショ</key>
		<string>sho</string>
		<key>チャ</key>
		<string>cha</string>
		<key>チュ</key>
		<string>chu</string>
		<key>チョ</key>
		<string>cho</string>
		<key>ニャ</key>
		<string>nya</string>
		<key>ニュ</key>
		<string>nyu</string>
		<key>ニョ</key>
		<string>nyo</string>
		<key>ヒャ</key>
		<string>hya</string>
		<key>ヒュ</key>
		<string>hyu</string>
		<key>ヒョ</key>
		<string>hyo</string>
		<key>ミャ</key>
		<string>mya</string>
		<key>ミュ</key>
		<string>myu</string>
		<key>ミョ</key>
		<string>myo</string>
		<key>リャ</key>
		<string>rya</string>
		<key>リュ</key>
		<string>ryu</string>
		<key>リョ</key>
		<string>ryo</string>
	</dict>
	<key>marked+double</key>
	<dict>
		<key>ギャ</key>
		<string>gya</string>
		<key>ギュ</key>
		<string>gyu</string>
		<key>ギョ</key>
		<string>gyo</string>
		<key>ジャ</key>
		<string>ja</string>
		<key>ジュ</key>
		<string>ju</string>
		<key>ジョ</key>
		<string>jo</string>
		<key>ビャ</key>
		<string>bya</string>
		<key>ビュ</key>
		<string>byu</string>
		<key>ビョ</key>
		<string>byo</string>
		<key>ピャ</key>
		<string>pya</string>
		<key>ピュ</key>
		<string>pyu</string>
		<key>ピョ</key>
		<string>pyo</string>
	</dict>
</dict>
</plist>
